<h1 style="text-align: left;">Привет! tddg<em>dfgdfg</em>df</h1>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="\uploadsImage\1575204082502-grafiki-1_750.jpg" alt="" width="750" height="302" /></p>
<p>Это простейший пример HTML-документа.</p>
<p>Этот *.html-файл может быть одновременно открыт и в Notepad, и в Netscape. Сохранив изменения в Notepad, просто нажмите кнопку Reload ('перезагрузить') в Netscape, чтобы увидеть эти изменения реализованными в HTML-документе.</p>