<!DOCTYPE html>
<html lang="en">

<head>
    <title><%=title %></title>
    <% include head %>
</head>

<body>

    <header>
        <% include nav %>
    </header>

    <ul class="list-group">
        <% for(var i=0; i<list.length;i++) {%>
        <div class="card">
            <div class="card-body">
                <h5>
                    <a href="/corpus/<%=list[i].id %>">
                        <%=list[i].name %>
                    </a>
                </h5>
                <%=list[i].description %>
            </div>
        </div>
        <%} %>
    </ul>

    <a class="btn btn-success mt-2" href="/editCorpuses"> Редактировать </a>
    <footer>
        <% include footer %>
    </footer>

</body>

</html>