<!DOCTYPE html>
<html lang="en">

<head>
    <title><%=title %></title>
    <% include head %>
</head>

<body>

    <header>
        <% include nav %>
    </header>


    <form action='/updateWord/<%=word.id %>', method='post'>
        <div class="form-row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 mb-3">
                <input value="<%=word.name %>" name='name' class="form-control" type="text" placeholder='Слово' required">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8 mb-3">
                <input value="<%=word.description %>" name='description' class="form-control" type="text" placeholder='Описание' required>
            </div>
            <div class="col">
                <input class="btn btn-success mb-3" type='submit', value='Изменить'>
            </div>

        </div>
    </form>

    <form action='/deleteWord/<%=word.id %>', method='post'>
        <div class="form-row">
            <div class="col">
                <input class="btn btn-danger mb-3" type='submit', value='Удалить'>
            </div>
        </div>
    </form>

    <footer>
        <% include footer %>
    </footer>

</body>

</html>