
<!DOCTYPE html>
<html lang="en">

<head>
    <title><%=title %></title>
    <% include head %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

</head>
<body>

    <header>
        <% include nav %>
    </header>
<div id="table">

    <h3>{{storyName}}</h3>

    <!--<audio controls>-->
        <!--<source v-bind:src="link_on_file" type="audio/mp3" >-->
        <!--<source v-bind:src="link_on_file" type="audio/wav" > // лучше удалить и использовать только mp3-->
    <!--</audio>-->

    <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
            <th scope="col" width="4%">№</th>
            <th scope="col" width="10%">t начала ЭДЕ</th>
            <th scope="col" width="10%">t конца ЭДЕ</th>
            <th scope="col" width="30%">ЭДЕ</th>
            <th scope="col" width="30%">Комментарии</th>
            <!--<th scope="col" width="6%">Кнопка для воспр.</th>-->
            <th scope="col" width="10%">Кнопка изменения</th>
        </tr>
        </thead>
        <tbody>
            <tr v-for="(row,index) of rows" v-on:click="labelRow(index)" v-bind:class="{ rowLabel: label_row_left === null ? false :  label_row_right === null ? index === label_row_left : label_row_left <= index && index <= label_row_right}">
                <td>{{index+1}}</td>
                <td>{{row.time_begin}}</td>
                <td>{{row.time_end}}</td>
                <td>{{row.transcription}}</td>
                <td>{{row.comment}}</td>
                <!--<td align = "center">-->
                    <!--<button v-bind:onclick="'playAudioFragment('+link_on_file+','+row.time_begin+','+row.time_end+')'" class="playAudioFragmentButton">&#9654;-->
                    <!--</button>-->
                <!--</td>-->
                <td><button type="button" class="btn btn-primary mb-3" v-on:click="selectRow(index)" data-toggle="modal" data-target="#exampleModalCenter2">
                        Изменить
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-primary mb-3 mt-3" data-toggle="modal" data-target="#exampleModalCenter">
        Добавить Строку
    </button>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Новая строка</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleInputName1">t начала ЭДЕ</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="t начала ЭДЕ" v-model="t_begin">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputKonec1">t конца ЭДЕ</label>
                        <input type="text" class="form-control" id="exampleInputKonec1" placeholder="t конца ЭДЕ" v-model="t_end">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputDescription1">ЭДЕ</label>
                        <!-- <input type="text" class="form-control" id="exampleInputDescription1" placeholder="Описание" v-model="description"> -->
                        <textarea class="form-control" id="exampleInputDescription1" rows="3" v-model="ede"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputComment1">Комментарии</label>
                        <!-- <input type="text" class="form-control" id="exampleInputDescription1" placeholder="Описание" v-model="description"> -->
                        <textarea class="form-control" id="exampleInputComment1" rows="3" v-model="comment"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" v-on:click="addRow">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle2" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle2">Изменить строку</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleInputName2">t начала ЭДЕ</label>
                        <input type="text" class="form-control" id="exampleInputName2" placeholder="t начала ЭДЕ" v-model="newT_begin">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputKonec2">t конца ЭДЕ</label>
                        <input type="text" class="form-control" id="exampleInputKonec2" placeholder="t конца ЭДЕ" v-model="newT_end">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputDescription2">ЭДЕ</label>
                        <!-- <input type="text" class="form-control" id="exampleInputDescription1" placeholder="Описание" v-model="description"> -->
                        <textarea class="form-control" id="exampleInputDescription2" rows="3" v-model="newEde"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputComment2">Комментарии</label>
                        <!-- <input type="text" class="form-control" id="exampleInputDescription1" placeholder="Описание" v-model="description"> -->
                        <textarea class="form-control" id="exampleInputComment2" rows="3" v-model="newComment"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-error" data-dismiss="modal" v-on:click="deleteRow">Удалить</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" >Закрыть</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" v-on:click="saveRow">Изменить</button>
                </div>
            </div>
        </div>
    </div>
</div>
    <footer>
        <% include footer %>
    </footer>
    <script>
        function playAudioFragment(pathToFile, begin, end) {
            var audio = new Audio(pathToFile + "#t=" + begin + "," + end);
            audio.play();
        }

    </script>
    <script src="/javascripts/vue/vue.js"></script>
    <script src="/javascripts/vue/axios.min.js"></script>
    <script src="/javascripts/vue/table.js"></script>
</body>

</html>