<!DOCTYPE html>
<html lang="en">

<head>
    <title><%=title %></title>
    <% include head %>
</head>

<body>

    <header>
        <% include nav %>
    </header>


    <form action='/addWord', method='post'>
        <div class="form-row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 mb-3">
                <input name='name' class="form-control" type="text" placeholder='Слово' required>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8 mb-3">
                <input name='description' class="form-control" type="text" placeholder='Описание' required>
            </div>
            <div class="col">
                <input class="btn btn-success mb-3" type='submit', value='Добавить'>
            </div>

        </div>
    </form>

    <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
            <th scope="col">Слово</th>
            <th scope="col">Значение</th>
        </tr>
        </thead>
        <tbody>
        <% for(var i=0; i<list.length;i++) {%>
            <tr>
                <td>
                    <a href="/editWord/<%=list[i].id %>">
                        <%=list[i].name %>
                    </a>
                <td> <%=list[i].description %></td>
            </tr>
        <%} %>
        </tbody>
    </table>


    <footer>
        <% include footer %>
    </footer>

</body>

</html>