<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <title><%=title %></title>
    <% include head %>
</head>

<body>

    <header>
        <% include nav %>
    </header>


    <!--<div class="h4 mt-4"> Здесь будет общая информация. См. http://spokencorpora.ru/</div>-->

    <div id="page">

        <tinymce v-model="myModel"
                 :plugins="myPlugins" :toolbar1="myToolbar1" :toolbar2="myToolbar2"
                 :other="myOtherOptions">
        </tinymce>
        <button class="button btn-primary" v-on:click="postPage">Сохранить</button>
        <a class="nav-link" href="/">Отменить</a>
    </div>

    <footer>
        <% include footer %>
    </footer>
    <script src="/javascripts/tinymce/tinymce.min.js"></script>
    <script src="/javascripts/tinymce/langs/ru.js"></script>
    <script src="/javascripts/vue/vue.js"></script>
    <script src="/javascripts/vue/axios.min.js"></script>
    <script src="/javascripts/vue/vue-easy-tinymce.js"></script>
    <script src="/javascripts/vue/mainPage.js"></script>
</body>

</html>