<!DOCTYPE html>
<html lang="en">

<head>
    <title><%=title %></title>
    <% include head %>
</head>

<body>

<header>
    <% include nav %>
</header>
<div id="corpus">
    <ul class="list-group table table-bordered">
            <div v-for="(corpus,index) of corpuses" v-on:click="selectCorpus(index)" data-toggle="modal" data-target="#exampleModalCenter2">
                <div class="card">
                    <div class="card-body">
                        <h5>
                            {{corpus.name}}
                        </h5>
                        {{corpus.description}}
                    </div>
                </div>
            </div>
    </ul>
    <button type="button" class="btn btn-primary mb-3 mt-3" data-toggle="modal" data-target="#exampleModalCenter">
        Добавить корпус
    </button>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Новый корпус</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleInputName1">Название</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="Название" v-model="name">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputDescription1">Описание</label>
                        <!-- <input type="text" class="form-control" id="exampleInputDescription1" placeholder="Описание" v-model="description"> -->
                        <textarea class="form-control" id="exampleInputDescription1" rows="3" v-model="description"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" v-on:click="addCorpus">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle2" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle2">Изменить корпус</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleInputName2">Название</label>
                        <input type="text" class="form-control" id="exampleInputName2" placeholder="Название" v-model="newName">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputDescription2">Описание</label>
                        <!-- <input type="text" class="form-control" id="exampleInputDescription2" placeholder="Описание" v-model="newDescription"> -->
                        <textarea class="form-control" id="exampleInputDescription2" rows="3" v-model="newDescription"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-error" data-dismiss="modal" v-on:click="deleteCorpus">Удалить</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" >Закрыть</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" v-on:click="saveCorpus">Изменить</button>
                </div>
            </div>
        </div>
    </div>
</div>

<ul class="list-group">

</ul>


<footer>
    <% include footer %>
</footer>
<script src="/javascripts/vue/vue.js"></script>
<script src="/javascripts/vue/axios.min.js"></script>
<script src="/javascripts/vue/corpus.js"></script>
</body>

</html>