<!DOCTYPE html>
<html lang="en">

<head>
    <title><%=title %></title>
    <% include head %>
</head>

<body>

    <header>
        <% include nav %>
    </header>


    <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
            <th scope="col">Слово</th>
            <th scope="col">Значение</th>
        </tr>
        </thead>
        <tbody>
        <% for(var i=0; i<list.length;i++) {%>
        <tr>
            <td> <%=list[i].name %></td>
            <td> <%=list[i].description %></td>
        </tr>
        <%} %>
        </tbody>
    </table>

    <a class="btn btn-success" href="/editGlossary"> Редактировать </a>

    <footer>
        <% include footer %>
    </footer>

</body>

</html>