<meta charset="UTF-8">
<title>КЗР</title>

<link rel="stylesheet" href="/stylesheets/bootstrap/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/style.css">

<script src="/javascripts/jquery-3.3.1.min.js"></script>
<script src="/javascripts/script.js"></script>
<script src="/javascripts/bootstrap/bootstrap.min.js"></script>
<script src="/javascripts/bootstrap/bootstrap-collapse.js"></script>