<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <title><%=title %></title>
    <% include head %>
</head>

<body>

    <header>
        <% include nav %>
    </header>


    <!--<div class="h4 mt-4"> Здесь будет общая информация. См. http://spokencorpora.ru/</div>-->

    <!-- <div> Форма загрузки
        <form enctype="multipart/form-data" method="post" action="/downloadFile">
            <p><input type="file" name="f">
                <input type="submit" value="Загрузить"></p>
        </form>
    </div> -->
    <%- html %>
    <a class="btn btn-success" href="/editMain"> Редактировать </a>
    <footer>
        <% include footer %>
    </footer>

</body>

</html>