<nav class="navbar fixed-top navbar-expand-lg my-color-nav">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link text-light" href="/">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/corpuses">Корпус</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/search">Поиск по корпусу</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/glossary">Глоссарий</a>
            </li>
        </ul>
    </div>
</nav>