<!DOCTYPE html>
<html lang="en">

<head>
    <title><%=title %></title>
    <% include head %>
</head>

<body>

<header>
    <% include nav %>
</header>

<div id="search">
    <div class="search row">
        <input type="text" class="search-input form-control col-sm-4" placeholder="Введите слово"  v-model="search">
    </div>

    <div class="h4 mt-4"> Список рассказов с этим словом</div>
    Всего найдено {{total}} значений
    <ul class="list-group">
        <li class="list-group-item" v-for="row of filteredRows">Корпус <b>{{row[1][0][0]}}</b>, рассказ <a v-bind:href="'/story/'+row[1][0][2]">{{row[1][0][1]}}</a>.
            Количество вхождений &mdash; найдено {{row[1][1]}} значение</li>
    </ul>
</div>
<footer>
    <% include footer %>
</footer>
<script src="/javascripts/vue/vue.js"></script>
<script src="/javascripts/vue/axios.min.js"></script>
<script src="/javascripts/vue/search.js"></script>
</body>

</html>