
<!DOCTYPE html>
<html lang="en">

<head>
    <title><%=title %></title>
    <% include head %>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>

<header>
    <% include nav %>
</header>

<% if (list.length > 0) {%>
<a href="/corpus/<%=list[0].corpus_id%>"> К списку записей корпуса </a>

<h3 class="mt-3"> <%=list[0].storyName%> </h3>
<%} %>

<audio controls id = "player" >
    <source src="<%=link_on_file%>" type="audio/mp3" >
    <source src="<%=link_on_file%>" type="audio/wav" >
</audio>

<div id="link_on_file"><%=link_on_file%></div>

<div id="samples_data_div">

    <table class="table table-bordered" id="table">
        <thead class="thead-light">
        <tr>
            <th scope="col" width="4%">№</th>
            <th scope="col" width="10%">t начала ЭДЕ</th>
            <th scope="col" width="10%">t конца ЭДЕ</th>
            <th scope="col" width="35%">ЭДЕ</th>
            <th scope="col" width="35%">Комментарии</th>
            <th scope="col" width="6%"></th>
        </tr>
        </thead>

        <tbody>
        <% for(var i=0; i<list.length; i++) {%>
        <tr data-sample_id="<%=i+1%>">
            <td><%=i+1%></td>
            <td class="time_begin"><%=list[i].time_begin %></td>
            <td class="time_end"><%=list[i].time_end %></td>
            <td><%=list[i].transcription %></td>
            <td><%=list[i].comment %></td>
            <td class="link_on_file" align = "center">
                <button id = "playButton<%=i%>" onclick='playAudioFragment("<%=link_on_file%>", "<%=list[i].time_begin%>", "<%=list[i].time_end%>")'
                        class="playAudioFragmentButton">
                    <i class="fa fa-play">
                    </i>
                </button>
            </td>
        </tr>
        <%} %>
        </tbody>
    </table>
</div>

<script>
    function playAudioFragment(pathToFile, begin, end) {
        var audio = document.getElementById("player");
        if (audio.paused) {
            audio.src = pathToFile + "#t=" + begin + "," + end;
            audio.play();
        } else {
            audio.pause();
        }
    }
</script>

<a class="btn btn-success mt-2" href="/editTable/<%=story_id%>"> Редактировать </a>
<footer>
    <% include footer %>
</footer>

</body>

</html>
