body {
    margin-top:50px;
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

nav a {
    margin-left:35px;
}

a {
    color: #00B7FF;
}
.li_list{
    display: inline-block;
}
.teacher_li{
    margin-bottom: 5px;
}
.teacher_li:hover{
    cursor: pointer;
}
.editWindow{
    position: fixed;
    display: inline-block;
    float: right;
    border: 1px;
    height: 100%;
    width: 400px;
}
.my-color-nav, .my-color-button{
    background:#7642b3;
}

.div-none{
    display: none;
}

.info {
    margin-left: 20px;
}

.playAudioFragmentButton {
    width: 30px;
    height: 30px;
    align-content: center;
    border-radius: 15px;
    border: 0px;
}

table {
    border-collapse: collapse;
}

#link_on_file{
    display: none;
}
.activeTr {
    background-color: rgba(110, 202, 247, 0.48);
}

table tbody tr {
    cursor: pointer;
}

/*table tbody tr:hover {*/
    /*background-color: rgba(110, 202, 247, 0.48);*/
/*}*/
/*.rowLabel{*/
    /*background-color: yellow;*/
/*}*/